.git_backup_before_cleanup/
all_objs.txt
blob_sizes.txt
.venv/
server/.venv/
build/
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.metadata
.vscode/
.idea/
*.iml
ios/Flutter/.symlinks/
ios/Pods/
macos/Pods/
.android/
.gradle/
